grid {
	padding: 10px;
	background-color: #f5efff;
}

#label {
	margin-left: 650px;
	margin-top: 10px;
	font-size: 50px;
	color: #333;
	font-weight: bold;
}

button {
	border: none;
	font-size: 20px;
	color: #6551e0;
	background-color: #e5d9f2;
	padding: 10px 20px;
}

button:hover {
	background-color: #a294f9;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

#id,
#full_name,
#birth_year,
#classe,
#sfsd,
#oop,
#algebra,
#analysis,
#search_delete_student,
#extract_student {
	border-color: #a294f9;
	background: white;
}

button:hover {
	box-shadow: none;
	color: #333;
}

button:disabled {
	background: #f5efff;
}

#add_button,
#search_button,
#delete_button,
#Modify_button,
#Extract_button,
#reorganize_button {
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

#add_button:hover,
#search_button:hover,
#delete_button:hover,
#Modify_button:hover,
#Extract_button:hover,
#reorganize_button:hover {
	box-shadow: none;
}

#add_button {
	background: #8b5cf6;
	color: white;
}

#add_button:hover {
	background: #16a34a;
}

#search_button {
	background: #8b5cf6;
	color: white;
}

#search_button:hover {
	background: #18181b;
}

#delete_button {
	background: #8b5cf6;
	color: white;
}

#delete_button:hover {
	background: #dc2626;
}

#Modify_button {
	background: #8b5cf6;
	color: white;
}

#Modify_button:hover {
	background: #2563eb;
}

#Extract_button {
	background: #8b5cf6;
	color: white;
}

#Extract_button:hover {
	background: #7c3aed;
}

#reorganize_button {
	background: #8b5cf6;
	color: white;
	margin-left: 10px;
}

#reorganize_button:hover {
	background: #ea580c;
}

#labid,
#labname,
#labyear,
#labclass,
#labesfsd,
#labeoop,
#labeanalyse,
#labalgebra,
#labsearch_delete_id,
#labextract_class {
	color: #333;
	font-weight: bold;
	font-size: 18px;
}

#extract_class,
#search_delete_id {
	border-color: #a294f9;
	background: white;
}
