/* Window styling */
window {
	background-color: #f0f0f0;
	padding: 20px;
}

/* General grid styling */
grid {
	padding: 10px;
	background-color: #ffffff;
}


/* Button styling */
butnto {
    background-color: #c68cf6;
    color: white;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    border: none;
}

button:hover {
    background-color: #b19ef4;
}

button:active {
    background-color: #c69dff;
}

/* Label styling */
label {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}

/* Entry and SpinButton styling */
entry,
spin-button {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-top: 5px;
	font-size: 14px;
}

/* Specific widget styling */
#add-button {
	background-color: #008cba;
}

#add-button:hover {
	background-color: #007b9a;
}

#modify-button {
	background-color: #f44336;
}

#modify-button:hover {
	background-color: #e32e2b;
}

#search-button {
	background-color: #ff9800;
}

#search-button:hover {
	background-color: #e68900;
}

#delete-button {
    background-color: #d7bdff;
}

#delete-button:hover {
    background-color: #d797ff;
}

/* Widget Alignment */

